.App{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

ul{
  list-style-type:none;
  padding:0;
}

li{
  cursor:pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:hover{
  background-color: #f2f2f2;
}